/*! Desktop Mode View */
/** Page Structures */
a,
img {
    -webkit-user-drag: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    font-family: var(--font-secondary);
}

button {
    cursor: pointer;
    font-family: var(--font-secondary);
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.25rem;
    border: none;
}

footer {
    font-family: var(--font-tertiary);
    font-size: 14px;
    text-align: center;
    color: #BDBDBD;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

img {
    width: 90%;
    height: 100%;
    object-fit: scale-down;
}

/** Selector (Class) */
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.container {
    margin: 2rem 3rem;
}

.content {
    gap: 1rem;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.header {
    font-family: var(--font-primary);
    text-transform: uppercase;
}

.information__description {
    font-size: 24px;
    color: var(--color-tertiary);
}

.information__title {
    font-size: 64px;
}

.mt-5 {
    margin-top: 3rem;
}

.place-items-start {
    place-items: start;
}

.username {
    font-weight: 700;
    text-decoration: underline;
}

/** Pseudo-classes */
:root {
    --font-primary: 'Inconsolata', monospace;
    --font-secondary: 'Space Mono', monospace;
    --font-tertiary: 'Montserrat', sans-serif;
    --color-primary: #333333;
    --color-secondary: #FFFFFF;
    --color-tertiary: #4F4F4F;
}

a:hover {
    color: initial;
}

button:hover {
    filter: brightness(110%);
}

/** Pseudo-elements */
::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

::-webkit-scrollbar {
    height: 0.625rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    border: 4px solid var(--color-secondary);
    background-color: var(--color-primary);
}

::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
}

/*! Mobile Mode View */
@media screen and (max-width: 768px) {
    /** Page Structures */
    img {
        width: 100%;
    }

    /** Selector (Class) */
    .container {
        margin: 1rem;
    }

    .content {
        flex-direction: column;
    }

    .information__description {
        font-size: 18px;
    }

    .information__title {
        font-size: 48px;
    }
}